<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://pcjfunctionapp1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/33b2af3b-e963-4101-8762-9fe08e770e2f/resourceGroups/nuggie-group/providers/Microsoft.Web/sites/PcjFunctionApp1</ResourceId>
    <UserName>$PcjFunctionApp1</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://pcjfunctionapp1.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>