<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pcjfunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/33b2af3b-e963-4101-8762-9fe08e770e2f/resourceGroups/nuggie-group/providers/Microsoft.Web/sites/PcjFunctionApp</ResourceId>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://pcjfunctionapp.scm.azurewebsites.net/</PublishUrl>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAwmXfEFMJtUiaqxVWPwdWngAAAAACAAAAAAAQZgAAAAEAACAAAADuZrkrT/Y7+NW0PIgNg+yO6RwlGpDDFNvtGXCzLkb1hgAAAAAOgAAAAAIAACAAAAD0BRriiavAoL50ggRRPswfZDBRRdARdVIbpQjqHaPRNCAAAACUZWf+YaQP+f0izZapLt2aFLtu2LFYeFwabnVwvg6yEEAAAABcuSzKbavz/WcMtfbgx1aDO26TWs8YpWriIcTA+ULiVi/L9auvJ/DGGivdPcNRtXvSjgGM7fdt1Yjrq2A73ulF</EncryptedPassword>
    <History>False|2024-07-24T19:11:00.2350902Z;</History>
    <EnvironmentSubType>AzureFunctionProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>